@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color-background-first: #212121;
    --color-background-second: #262626;
    --color-background-blur: rgba(33, 33, 33, .7);
    --color-white: rgb(228, 228, 228);


    --color-neon-red: #ff092d;
    --color-neon-yellow: #fdf637;
    --color-neon-green: #04f504;
    --color-neon-purple: #ae03fe;
    --color-neon-blue: #1239ff;

    --color-green-first: #aafec6;
    --color-green-second: #42fe90;
    --color-green-third: #00d98a;
    --color-green-fourth: #018c77;
    --color-green-fifth: #02515d;

    --color-pink-first: #fe86ff;
    --color-pink-second: #fd2bff;
    --color-pink-third: #c202d3;
    --color-pink-fourth: #5e0fff;
    --color-pink-fifth: #1905d9;

}

html{
    font-size: 65%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
    
}

h1{
    font-size: clamp(2rem, 5vw, 6rem);
} 

h2{
    font-size: clamp(2rem, 4.5vw, 5.5rem);
}

p{
    font-size: clamp(1rem, 2.5vw, 3rem);
}

a{
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;
}




