@media (min-width: 1441px) {
    
    .header-container img{
        width: 60rem;
        height: 60rem;
    }
    .header-text-container{
        max-width: 60rem;
    }

    .abt-me{
        max-width: 60%;
    }
    
}

@media (max-width: 1440px) {
    .header-container img{
        width: 40rem;
        height: 40rem;
    }
    .header-text-container{
        max-width: 40rem;
    }

    .abt-me{
        max-width: 70%;
    }

    .project-container{
       /*  grid-template-columns: 1fr 1fr 1fr; */
    }
    
}

@media (max-width: 1080px) {
    .main-header nav{
        display: none;
    }
    
    .header-container{
        justify-content: center;
        margin-top: 0;
    }
    .header-container img{
       display: none;
    }

    .abt-me{
        max-width: 60%;
        flex-direction:column-reverse;
        align-items: center;
    }

    .picture-container{
        margin-top: 5rem;
        width: auto;
        max-width: 35rem;
        margin-right: 0;
    }

    .picture-container::after{
        border-top: 7px solid var(--color-green-third);
        border-left: 7px solid var(--color-green-third);
        width: calc(100% - 6rem);
        height: calc(100% - 12rem);
    }

    .text-container{
        width: 100%;
    }

    .main-projects{
        margin-top: 6rem;
    }

    .project-container{
        /* grid-template-columns: 1fr 1fr; */
    }

    .project{
        justify-content: space-between;
        padding: 2rem;
        margin: 1.5rem;
    }

    .button-container .button{
        width: 13rem;
        font-size: 1.4rem;
        padding: 1.2rem 0;
        margin: 1rem;
    }

    .text-container-projects h3{
        margin-bottom: 1rem;
    }

    .text-container-projects p{
        font-size: 1.6rem;
    }
    .logos i{
        font-size: 4rem;
    }
}

@media (max-width: 720px) {
    nav{
        display: none;
    }
    .header-text-container{
        text-align: center;
        align-items: center;
    }
    .btn-hire{
        width: 60%;
    }
    
    .main-projects{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .project-container{
        max-width: 90%;
        /* grid-template-columns: 1fr; */
    }
    .project{
        padding: 3rem;
    }


    .picture-container::after{
        border-top: 7px solid var(--color-green-third);
        border-left: 7px solid var(--color-green-third);
        width: calc(100% - 5rem);
        height: calc(100% - 10rem);
    }
}

@media (max-width: 480px) {
    .container{
        padding-top: 10rem;
    }

    .main-projects{
        align-items: unset;
    }
    .project{
        padding: 2rem;
        width: 90%;
        min-width: 30rem;
        height: 30rem;
    }

    .btn-hire{
        width: 70%;
    }

    .picture-container{
        margin-right: 0;
    }

    .picture-container::after{
        border-top: 5px solid var(--color-green-third);
        border-left: 5px solid var(--color-green-third);
        width: calc(100% - 3rem);
        height: calc(100% - 5rem);
    }
}

    



