.main-container{
    background-color: var(--color-background-second);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

[data-anim]{
    opacity: 0;
    transition: all .3s ease-in-out;
}
[data-anim='bottom']{
    transform: translate3d(0px, 50px, 0px);
}

[data-anim='top']{
    transform: translate3d(0px, -50px, 0px);
}

[data-anim="right"]{
    transform: translate3d(50px, 0px, 0px);
}

[data-anim="left"]{
    transform: translate3d(-50px, 0px, 0px);
}

[data-anim].animate{
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    
}

.abt-me{
    max-width: 80%;
}

.picture-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.picture-container::after{
    content: '';
    position: absolute;
    top: -2rem;
    left: -2rem;
    border-top: 9px solid var(--color-green-third);
    border-left: 9px solid var(--color-green-third);
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}

.text-container{
    width: 50%;
}

.picture-container img{
    width: 100%;
}

.text-container h3.section-title{
    margin-bottom: 3rem;
    font-size:clamp(2.5rem, 4.5vw, 4.5rem);
}

.text-container p {
    margin-bottom: 3rem;
}


/* PROJETOS */

.main-projects{
    margin-top: 10rem;
}

.title{
    text-align: center;
    margin-bottom: 10rem
}

.project-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.project{
    position: relative;
   
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem;
    background-color: var(--color-background-third);
    padding: 3.5rem;
    border-radius: 20px;
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
    transition: all .5s ease-in-out;
}

.logos i {
    font-size: 3.5rem;
}

.orange{
    color: #ea5d24;
}

.blue{
    color: #254bdd;
}

.yellow{
    color: yellow;
}

.text-container-projects{
    text-align: right;
}

.text-container-projects h3{
    font-size: 2rem;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-container .button{
    background-color: var(--color-green-third);
    width: 13rem;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    border-radius: 20px;
    font-family: inherit;
    font-weight: 600;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

/* LINHA VERDE */
.linha-verde{
    width: 100%;
    height: 15px;
    background-color: var(--color-green-third);
    position: absolute;
    top: calc(100% - 15px);
    left: 0%;
    border-radius: 0px 0px 20px 20px;
    transition: all .5s ease-in-out;
}

.green-hover:hover{
    background-color: var(--color-green-third);
    color: var(--color-background-second)
}

.green-hover:hover .button-container .button{
    background-color: var(--color-background-second);
    color: white;
}

.green-hover:hover .linha-verde{
    background-color: var(--color-background-third);
}

